* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 300px;
  height: 50px;
  background-color: rgb(168, 198, 255, .5);
  overflow: hidden;
  cursor: pointer;
  transition: height .3s ease;
}

.main-container > div {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(122, 160, 204);
  padding: 0 20px;
  
  display: flex;
  align-items: center;
  transition: background-color .2s ease;
}

.main-container > div:hover {
  background-color: rgb(141, 165, 201);
}

.full-size {
  height: 400px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(-45deg);
  transition: all .2s ease;
  
  display: inline-block;
}

.opened {
  transform: rotate(45deg)
}

.prompt {
  display: flex;
  justify-content: space-between;
}
.prompt > p {
  font-weight: 700;
}

.fruit-images{
  position: absolute;
  transform: translate(-250px, -100px);
  z-index: -1;
}

.fruit-images > img {
  position: absolute;
  height: 250px;
  visibility: hidden;
}

.fruit-images img:nth-child(2) {
  transform: translate(50px, -75px);
}
.fruit-images img:nth-child(3) {
  transform: translate(100px, -45px);
}
.fruit-images img:nth-child(4) {
  transform: translate(10px, 5px);
}
.fruit-images img:nth-child(5) {
  transform: translate(35px, 45px);
}
.fruit-images img:nth-child(6) {
  transform: translate(160px, 95px);
}
.fruit-images img:nth-child(7) {
  transform: translate(20px, 145px);
}
.fruit-images img:nth-child(8) {
  transform: translate(150px, 185px);
}