* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  transition: all .2s ease;
}

.opened {
  transform: rotate(45deg)
}

.main-container {
  width: 300px;
  height: 50px;
  background-color: rgb(168, 198, 255, .5);
  overflow: hidden;
  cursor: pointer;
  transition: height .3s ease;
}

.main-container > div {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(122, 160, 204);
  
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: background-color .2s ease;
}

.main-container > div:hover {
  background-color: rgb(141, 165, 201);
}

.full-size {
  height: 400px;
}

.prompt {
  display: flex;
  justify-content: space-between;
}

.prompt > p {
  font-weight: 700;
}